django
django-jet-reboot
djangorestframework
djangorestframework-jwt
django-phonenumbers
django-phonenumber-field
django-countries
fcm-django
django-allauth
channels
daphne
django-filter
django-crontab
django-randompinfield
django-extensions
django-mptt
django-redis
celery
python-decouple
django-rest-auth
django-haystack
drf-haystack
django-debug-toolbar
twilio
django-twilio
Pillow
django-elasticsearch-dsl
django-elasticsearch-dsl-drf
googletrans
serpy
django-extra-fields
psycopg2-binary
channels-redis
python-memcached




